@import "utils";

.PostList {
  @extend %centerize;
  padding: 0;

  .item {
    margin-top: 3em;
  }

  .title {
    font-size: 2em;
    font-weight: bold;
    color: $text-color-heavy;
  }

  .description {
    color: $text-color-light;
  }

  p {
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
